@model Aluno

<h1> Preencha os dados </h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Criar">
            <div asp-validation-summary="All" class="text-danger">
            </div>

            <div class="form-group">
                <label asp-for="@Model.Nome" class="control-label"></label>
                <input asp-for="@Model.Nome" class="form-control" />
                <span asp-validation-for="@Model.Nome" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.DataNascimento" class="control-label"></label>
                <input asp-for="@Model.DataNascimento" class="form-control" />
                <span asp-validation-for="@Model.DataNascimento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.EmailConfirmacao" class="control-label"></label>
                <input asp-for="@Model.EmailConfirmacao" class="form-control" />
                <span asp-validation-for="@Model.EmailConfirmacao" class="text-danger"></span>
            </div>

            <label class="form-group form-check">
                <label class="form-check-label">
                    <input asp-for="@Model.Ativo" class="form-check-input" /> @Html.DisplayNameFor(m => m.Ativo)
                </label>
                <span asp-validation-for="@Model.Ativo" class="text-danger"></span>
            </label>

            <input type="submit" value="Enviar" class="btn btn-info" />
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}