@model Aluno

<h1> Preencha os dados </h1>

<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(m => m.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Nome)
        </dd>


        <dt>
            @Html.DisplayNameFor(m => m.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.DataNascimentoFormatada)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.Email)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(m => m.Ativo);
        </dt>
        <dd>
            @Html.DisplayFor(m => m.Ativo)
        </dd>
    </dl>
</div>
